body{
  font-family: "Onest", sans-serif;

}
.schoolBanner{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 15px 160px;
}
.colorLayer {
  background-color: #A67EFF;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.schoolBanner::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('./resources/bg.png');
  background-position-y: 38%;
  background-size: 126%;
  opacity: 0.5;
  content: "";
  z-index: -1;
}

.floatingIcon{
  position: absolute;
}
#backpack{
  top: 5.84px;
  left: 64.13px;
}
#arrow1{
  left: -100px;
  top: 10px;
}
#arrow2{
  left: -55px;
  top: 10px
}
#computer{
  right: 73px;
  bottom: 16px;
}
.bannerTextBlock{
  position: relative;
}
.bannerMainText{
  color: #000;
  font-weight: 700;
  font-size: 16px;
  line-height: 130.02%;
}
.bannerMainText span{
  color: #136ef6;
}
.bannerSubText{
  font-size: 13px;
  font-weight: 500;
  font-weight: 600;
}
.modalButton{
  position: relative;
  height: fit-content;
  font-weight: 700;
  font-size: 14px;
  padding: 3px 22px;
  width: fit-content
}
.modal.show .modal-dialog {
  min-width: 930px;
  min-height: 440px;
}
.custom { 
  min-width: 930px;
  min-height: 440px;
} 
.modal-content{
  position: relative;
  background-image: url('./resources/bg.png');
  background-size: 108%;
  background-position: 32% 16%;
  border-radius: 10px;
  padding: 40px 55px
}
.modal-body{
  display: flex;
  gap: 30px;
  padding: 0;
}
.btn-close{
  height: 22px;
  width: 22px;
  position: absolute;
  opacity: 1;
  right: 15px;
  top:15px;
}
.modalMainText{
  font-size: 34px;
  font-weight: 700;
  line-height: 1;
  color: #136ef6;
}
.modalSubText{
  font-size: 18px;
  margin: 15px 0;
  font-weight: 600;
  color: #000;
}
.modalImage{
  margin-right: 18px;
}
.modalList{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modalListItem, #condition{
  display: flex;
  align-items: center;
}
#condition{
  margin-top: 15px;
  font-size: 12px;
}
.modalListText{
  height: 60px;
  width: 430px;
  font-size: 15px;
}
.inputWrapper{
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  margin-right: 40px;
  gap: 10px;
}
.inputHolder{
  position: relative;
}
input, .form-select{
  height: 50px;
  width: 260px;
  border-radius: 5px;
  background-color: #fff;
  border: 0.5px solid #136EF6;
  padding: 19px 36px 11px 22px;
  font-size: 14px;
  text-align: left;
}
.inputHolder span {
  pointer-events: none;
  position:absolute;
  left:22px;
  top:17px;
  color: #9E9E9E;
  font-size: 13px;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
.select {
  position: relative;
  display: inline-block;
}
select {
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select:not([multiple]) {
  background-repeat: no-repeat;
  background-position: 223px 17px;
  background-image: url('./resources/selectArrow.svg')
}

/* скроет иконку стрелки в IE */
select::-ms-expand {
  display: none;
}
input:focus + span, input:not(:placeholder-shown) + span, select:valid + span {
  opacity:1;
  top:4px;
  font-size: 11px;
}

#modalButton{
  position: relative;
  margin-top: 12px;
  padding: 8px 55px;
  font-size: 18px;
  font-weight: 700;
  height: 44px;
  width: 260px;
}
#arrow13{
  right: -73px;
  bottom: 16px;
}
#agreemnt{
  margin-top: 7px;
  width: 260px;
  height: 39px;
  font-size: 10px;
  color: #4A4A53;
}
#agreemnt a{
  color: #4A4A53;
}

